<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
   <!-- 
   	扫描base-package这个包，或者子包下的类。
   	如果发现类的头部有注解@Component，将次类初始化，默认调用无参的构造方法
   	并且对象的名字，默认是类名首字母小写
    -->
   <!--  <context:component-scan base-package="cn.com.bochy" /> -->
 	<context:component-scan base-package="cn.com.ssm" >
 		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
 		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
 	</context:component-scan>
	<!-- spring整合Mybatis步骤1：配置数据库的连接
	具有连接池数据源的，一般使用c3p0或者dbcp
	这里需要指定一些属性：	
		1、连接数据库的4大件
		2、c3p0的属性
	-->
	<!-- <context:property-placeholder location="classpath:db.properties"/> -->
<!-- 	<context:property-placeholder location="classpath:db.properties" /> -->
	<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/shubo"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
	</bean>


	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.com.ssm.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
	

	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<aop:config>
		<aop:pointcut id="trPointCut" expression="execution(public * cn.com.ssm.service.impl.*.*(..))"/>
		<aop:advisor advice-ref="myTx" pointcut-ref="trPointCut"/>
	</aop:config>
	<tx:advice id="myTx" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="delete*" read-only="false"/>
			<tx:method name="update*" read-only="false"/>
			<tx:method name="insert*" read-only="false"/>
			<tx:method name="select*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
</beans>